<div class="container">

    <div class="row">
            <a href="/add" class="btn red" title=""> Novo agendamento</a>
            <br>
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mafiadomarketing.com.br%2Fwp-content%2Fuploads%2F2018%2F12%2Fmarketing-medico.jpg&f=1&nofb=1" />
                    <span class="card-title">Clínico Geral</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
                <div class="card-content">
                    <p class="valign-wrapper"><i class="material-icons amber-text">star</i> 4,5</p>
                    <p>Dr. Roberto</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mafiadomarketing.com.br%2Fwp-content%2Fuploads%2F2018%2F12%2Fmarketing-medico.jpg&f=1&nofb=1" />
                    <span class="card-title">Cardiologista</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
                <div class="card-content">
                    <p class="valign-wrapper"><i class="material-icons amber-text">star</i> 4,8</p>
                    <p>Dr. Luiz</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mafiadomarketing.com.br%2Fwp-content%2Fuploads%2F2018%2F12%2Fmarketing-medico.jpg&f=1&nofb=1" />
                    <span class="card-title">Cardiologista</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
                <div class="card-content">
                    <p class="valign-wrapper"><i class="material-icons amber-text">star</i> 4,8</p>
                    <p>Dr. Luiz</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">

                        <div class="card hoverable">
                <div class="card-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mafiadomarketing.com.br%2Fwp-content%2Fuploads%2F2018%2F12%2Fmarketing-medico.jpg&f=1&nofb=1" />
                    <span class="card-title">Cardiologista</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
                <div class="card-content">
                    <p class="valign-wrapper"><i class="material-icons amber-text">star</i> 4,8</p>
                    <p>Dr. Luiz</p>
                </div>
            </div>
            </div>
        </div>
    </div>

